.navBar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; /* Ajusta el ancho según necesites */
    height: 100%;
    background-color: #333; /* Ajusta el color de fondo según tu diseño */
    z-index: 1000; /* Asegura que la barra esté por encima de otros elementos */
    padding: 20px 10px; /* Ajusta el espaciado interno según necesites */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); /* Opcional: sombra para dar sensación de profundidad */
    display: flex;
    flex-direction: column; /* Asegura que los enlaces se distribuyan verticalmente */
    align-items: start; /* Alinea los elementos al inicio del contenedor */
}