.headerMain{
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border-bottom: 1px solid #e1e1e1;

    button{
        cursor: pointer;
        font-size: 1.3rem;
        margin: 0.3rem 0.5rem;
        flex-direction: column;
    }
}

.emptyPokedex{
    h2{
        font-size: 5rem;
        margin: 1rem 0;
        color: #51605f;
    }
}